<div class="row">
  <button class="btn btn-outline-info" (click)="novo()">Novo</button>
</div>
<br>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>      
      <th class="text-center">Editar</th>
      <th class="text-center">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let responsavel of responsaveis">
      <th scope="row">{{ responsavel.Id }}</th>
      <td>{{ responsavel.Nome }}</td>
      <td class="text-center">
        <a [routerLink]="['/responsavel', responsavel.Id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td class="text-center">
        <a href="/responsavel" (click)="delete(responsavel)">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>