<div class="row">
  <button class="btn btn-outline-info" (click)="novo()">Novo</button>
</div>
<br>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Descrição</th>
      <th>Observação</th>
      <th class="text-center">Editar</th>
      <th class="text-center">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recurso of recursos">
      <th scope="row">{{ recurso.Id }}</th>
      <td>{{ recurso.Descricao }}</td>
      <td>{{ recurso.Observacao }}</td>
      <td class="text-center">
        <a [routerLink]="['/recurso', recurso.Id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td class="text-center">
        <a href="/recurso" (click)="delete(recurso)">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>